.logo {
    height: 100px;
    width: 100px;
    margin: 10px 50px 10px 50px;
}

.post-container {
    margin: 10px 50px 10px 75px;
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 210px
}
.post-title {
    padding-top: 30px;
    font-size: 5em;
    font-family: fantasy;
}
.youtube {
    width: 100%;
}
@media only screen and (max-width: 550px) {
    .post-thumb {
        display: block;
        float: none;
        margin-top: 20px;
    }

    .logo {
        height: 100px;
        width: 100px;
        display: block;
        margin: 0 auto;
    }

    .post-content {
        text-align: center;
        margin: 0px;
    }

    .post-container {
        margin: 0 auto;
    }
}

/* jssor slider loading skin spin css */
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

<!-- Help: https://www.jssor.com/development/slider-with-bullet-navigator.html -->
.jssorb031 {position:absolute;}
.jssorb031 .i {position:absolute;cursor:pointer;}
.jssorb031 .i .b {fill:#000;fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
.jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
.jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
.jssorb031 .i.idn {opacity:.3;}

.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

<!-- Help: https://www.jssor.com/development/slider-with-arrow-navigator.html -->